@using Cicada.ViewModels.Common
@using Cicada.ViewModels.Tasks

@model PagedList<TaskNoticationDto>

@{
    ViewData["Title"] = "Notications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Notications</h1>
</div>

<!-- Content Row -->
<div class="row">

    @foreach (var item in Model.Data)
    {
        <div class="col-xl-6 col-md-12 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">@Html.DisplayFor(modelItem => item.TaskName)</div>
                            <div class="mb-0 font-weight-bold text-gray-800">@Html.DisplayFor(modelItem => item.MessageInfo)</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tasks fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>